<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>

  <connectionStrings>
    <add name="dbConnection" providerName="System.Data.SqlClient" connectionString="" />
  </connectionStrings>

  <appSettings>
    <add key="SmtpHost" value="" />
    <add key="SmtpUsername" value="" />
    <add key="SmtpPassword" value="" />

    <add key="MailFrom" value="" />
    <add key="MailTo" value="" />
    <add key="MailSubject" value="Report Error" />
  </appSettings>

</configuration>